.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  nav {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  
  label {
    display: block;
    margin-bottom: 1rem;
  }
 /* Add this new style */
.dim-all-components {
    filter: brightness(30%);
  }
  .loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1.5rem;
    text-align: center;
  }
  
  .loading-container img {
    width: 100px;
    height: 100px;
  }
  .loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  